@import "./media.css";


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.grid_container {
width: 100%; 
display: grid;
gap: 10px;
grid-template-columns: 2fr 1fr;
grid-template-rows: 100px 300px;

grid-template-areas:

"header1  header1"
"main1  aside1"
}

.header_grid{

display: grid;  
height: 100px;
/* width: 1400px; */
grid-area: header1;
text-align: center; 
align-items: center;
background-color: aquamarine;
}


.main_grid {

    display: grid;
    height: 300px;
    /* width: 900px; */
    grid-area: main1;
    gap: 10px;
    background-color:blanchedalmond;
    align-content:end;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: 70px 70px 70px;  
    grid-template-areas:
    "text text"
    "else1 else1"
    "else2 else3";


}
.text {

    display: grid;
    grid-area: text;
    justify-content: center;
    
   

}



.else_one {
    display: grid; 
    text-align: center;
    align-items: center;
    height: 70px;
    background-color:rgb(255, 140, 0);
    grid-area: else1;


}

.else_two {

    display: grid; 
    text-align: center;
    align-items: center;
    height: 70px;
    background-color:rgb(255, 140, 0);
    grid-area: else2;
    
}


.else_three {


    display: grid; 
    text-align: center;
    align-items: center;
    height: 70px;
    background-color:rgb(255, 140, 0);
    grid-area: else3;

}

.aside_grid {

    display: grid;
    grid-area: aside1;
    height: 300px;
    /* width: 500px; */
    text-align: center; 
    align-items: center;
    background-color:blue;
    

}


.footer_one{
    height: 100px;
    /* width: 320px ; */
    margin: 15px;
    background-color:rgb(0, 255, 85);



}
  
.footer_two{
    height: 100px;
    /* width: 320px ; */
    margin: 15px;
    background-color:brown;


}

.footer_three{

    height: 100px;
    /* width: 320px ; */
    margin: 15px;
    background-color:rgb(208, 0, 255);

}

.footer_four{

    height: 100px;
    /* width: 320px ; */
    margin: 15px;
    background-color:rgb(255, 140, 0);

}


.grid_container_footer {

display: grid;
/* width: 1400px; */
height: 130px;
margin-top: 10px;
grid-template-rows: repeat(4, 1fr);
grid-template-areas:

"footer1  footer2 footer3 footer4";
background-color: rgb(196, 255, 233);

}

.footer_one {  display: grid; grid-area: footer1; text-align: center; align-items: center;}
.footer_two {display: grid; grid-area: footer2; text-align: center; align-items: center;}
.footer_three {display: grid; grid-area: footer3;text-align: center; align-items: center;}
.footer_four { display: grid; grid-area: footer4; text-align: center; align-items: center;}